<div class="container-fluid fullHeight center">
    <form #loginForm="ngForm" class="example-form" (ngSubmit)="login(loginForm)">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="User Name" [(ngModel)]="credential.email" name="Uid" #Uid="ngModel" email>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="credential.password" name="Pwd" #Pwd="ngModel" type="password">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Login</button>
        <!--  <button (click)="login.reset()" mat-raised-button color="primary">Reset Form</button> -->
    </form>

</div>
<div *ngIf='load' class="spinner">
    <mat-spinner></mat-spinner>
</div>